<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @profile.subject_id %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @profile.contact %>
</p>

<%= link_to 'Edit', edit_teacher_path(@profile) %> |
<%= link_to 'Back', teachers_path %>
