<!DOCTYPE html>
<html>
  <head>
    <title>TechAff</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <p class="navbar-text pull-right">
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.first_name+' '+current_user.last_name %></strong>.
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <% end %>
    </p>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
